TZ=$TZ
GIN_MODE="debug" # Wenn das System sauber läuft kann hier "release" gesetzt werden
CROWDSEC_BOUNCER_API_KEY=$BOUNCER_KEY_TRAEFIK
CROWDSEC_AGENT_HOST=${SERVICES_CROWDSEC_HOSTNAME:-crowdsec}:8080